@model List<Product>
@{
}

<h2 class="text-center mb-5">List Of Products </h2>

<div class="row mb-5">
    <div class="col">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary" asp-controller="Products" asp-action="Create">New Product</a>
            <a class="btn btn-secondary" asp-controller="Orders" asp-action="Index">View Orders</a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>           
            <th>Availability</th>
            <th>Action</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Category</td>              
                <td><img src="/products/@product.ImageFileName" width="100" /></td>
                <td>@product.Availability</td>
                
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Edit"
                       asp-route-Id="@product.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Products" asp-action="Delete"
                       asp-route-Id="@product.Id" onclick="return confirm('Are you sure?')">Delete</a>
                    <a class="btn btn-success btn-sm" asp-controller="Orders" asp-action="Create" asp-route-productId="@product.Id">Order</a>
                </td>
            </tr>
        }
    </tbody>
</table>